html{
  font-size: 16px;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: rgb(72,72,72);
  margin: 0;
  padding: 0;
}

h1{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
}

header{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  z-index: 10;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 1rem;
}

ul li{
  margin-right: 1rem;
}

img.logo{
  margin-left: 1.5rem;
  height: 3rem;
  width: auto;
}

div.menu{
  display: flex;
  align-items: center;
}

#academycolor{
  color: rgb(211,211,211);
}

.banner{
  background-color: rgb(220,220,220);
}

div.banner{
    display: flex;
    width: 100%;
    align-items: center;
}

div.bannerimage{
  width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

div.banner-menu{
  padding: 16px;
  width: 60%;
}

.bannerright{
  width: 40%;
}

.banner img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.banner-button{
  background-color: rgb(72,72,72);
  border: none;
  color: white;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  width: 100%;
}

.information{
  display: flex;
}

.inforight{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

div.infoleft{
  width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border-right: solid rgb(220,220,220) 1px;
}

.infoimage{
  display: flex;
  border-bottom: double rgb(220,220,220) 1px;
}

.infotext{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

a{
    padding-top: 1rem;
}

.information h5{
  padding-top: 2.5rem;
}

.main-infoimage{
  display: inline-block;
  height: auto;
  width: 100%;
  vertical-align: middle;
}

.imginfo1,
.imginfo2,
.imginfo3,
.imginfo5{
  padding: 1rem 2rem 1rem 1rem;
}

#greybackground{
  background-color: rgb(220,220,220);
}

.learning{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: rgb(220,220,220);
}

.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  padding-left: 72px;
  padding-right: 72px;
}

.course{
  background-color: white;
  text-align: left;
  margin-bottom: 2rem;
  width: 33.25rem;
}

.course-text{
  padding: 1rem;
}

div.thesis-exibit{
  display: flex;
  justify-content: center;
}

.thesis-main{
  display: flex;
  width: 100%;
}

.thesisimage{
    display: flex;
}

.thesisleft{
  width: 60%;
  padding: 0rem 1.5rem 2rem 1.5rem;
}

.thesisright{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.imginfo4{
  padding: 1rem 2rem 1rem 1rem;
}

footer{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  border-top: double rgb(220,220,220) 1px;
}

div.left{
  padding-left: 1rem;
}
