html{
  font-size: 16px;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: rgb(72,72,72);
  margin: 0;
  padding: 0;
}

h1{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
}

header{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  z-index: 1;
  position: fixed;
  margin-top: -64px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 1rem;
}

ul li{
  margin-right: 1rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 500ms;
}

ul li:hover{
  border-color: rgb(72,72,72);
}

img.logo{
  margin-left: 1.5rem;
  height: 3rem;
  width: auto;
}

div.menu{
  display: flex;
  align-items: center;
}

#academycolor{
  color: rgb(211,211,211);
}

.banner{
  background-color: rgb(220,220,220);
  margin-top: 64px;
}

div.banner{
    display: flex;
    width: 100%;
    align-items: center;
}

div.bannerimage{
  width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

div.banner-menu{
  padding: 16px;
  width: 60%;
}

.bannerright{
  width: 40%;
}

.banner img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.banner-button{
  background-color: rgb(72,72,72);
  border: none;
  color: white;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  width: 100%;
  transition-property: background-color;
  transition-duration: 750ms;
  transition-delay: 100ms;
}

.banner-button:hover{
  background-color: rgb(144,144,144);
}

.information{
  display: flex;
}

.inforight{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

div.infoleft{
  width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border-right: solid rgb(220,220,220) 1px;
}

.infoimage{
  display: flex;
  border-bottom: double rgb(220,220,220) 1px;
}

.infotext{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

a{
    padding-top: 1rem;
}

li a{
    text-decoration: none;
    color: inherit;
}

.information h5{
  padding-top: 2.5rem;
}

.main-infoimage{
  display: inline-block;
  height: auto;
  width: 100%;
  vertical-align: middle;
}

.imginfo1,
.imginfo2,
.imginfo3,
.imginfo5{
  padding: 1rem 2rem 1rem 1rem;
  height: 35%;
  width: 35%;
}

.imginfo4{
  height: 35%;
  width: 35%;
}

#greybackground{
  background-color: rgb(220,220,220);
}

.learning{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: rgb(220,220,220);
}

.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  padding-left: 72px;
  padding-right: 72px;
}

.course{
  background-color: white;
  text-align: left;
  margin-bottom: 2rem;
  width: 33.25rem;
}

.course:hover{
  transition-duration: 500ms;
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.course-text{
  padding: 1rem;
}

div.thesis-exibit{
  display: flex;
  justify-content: center;
}

.thesis-main{
  display: flex;
  width: 100%;
}

.thesisimage{
    display: flex;
}

.thesisleft{
  width: 60%;
  padding: 0rem 1.5rem 2rem 1.5rem;
}

.thesisright{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.imginfo4{
  padding: 1rem 2rem 1rem 1rem;
}

footer{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  border-top: double rgb(220,220,220) 1px;
}

div.left{
  padding-left: 1rem;
}

/* Mobile section*/

.mobile-menu{
  display: none;
}

.mobile-courses{
  display: none;
}

.mobilinfo{
  display: none;
}

@media only screen and (max-width: 480px){
  header .mobile-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 1.5rem;
  }
  header ul,
  header .menu,
  div.information,
  div.courses,
  div.thesisright{
  display: none;
  }

  .banner{
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
  }

  div.bannerimage{
    width: 100%;
    padding: 0;
  }

  div.banner-menu{
      width: 100%;
      padding: 0;
      text-align: center;
  }

  div.bannerright{
      width: 100%;
  }

  .mobilinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
  }

  .mobilimg{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.mobilimg{
      padding-bottom: 32px;
  }

  div.mobilinfotext{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-courses{
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .learning{
    background-color: white;
  }

  .mobile-button{
    background-color: rgb(144,144,144);
    border: none;
    color: white;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    width: 100%;
    transition-property: background-color;
    transition-duration: 750ms;
    transition-delay: 100ms;
    margin-bottom: 0.5rem;
  }

  .mobile-button:hover{
    background-color: rgb(72,72,72);
  }

  div.thesisleft{
    width: 100%;
    padding: 0;
  }
  #notxt{
    display: none;
  }
  footer{
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: none;
  }

  h1{
    font-size: 1.5rem;
  }

  h2{
    font-size: 1rem;
  }

}

@media only screen and (max-width: 1224px){

  div.courses{
    justify-content: center;
  }

}

@media only screen and (max-width: 980px) and (min-width: 480px){

  .banner{
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
  }

  div.bannerimage{
    width: 100%;
    padding: 0;
  }

  div.banner-menu{
      width: 100%;
      padding: 0;
      text-align: center;
  }

  div.bannerright{
      width: 100%;
  }

  .thesis-main{
    align-items: center;
    flex-direction: column;
  }

  div.information{
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  div.infoleft{
    border: none;
    padding: 0;
    maring: 0;
    text-align: center;
    width: 100%;
  }

  .inforight{
    width: auto;
  }

  .thesisright{
    width: auto;
  }

  div.thesisleft{
    border: none;
    padding: 0;
    maring: 0;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 720px){

  header .mobile-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 1.5rem;
  }

  header ul,
  header .menu{
    display: none;
  }
}
